* {
	margin: 0px;
	padding: 0px;
}

#header {
	background-color: gray;
	height: 150px;
}

h1 {
	display: block;
	background-color: yellow;
}

#main-wrapper {
	background-color: black;
	height: 100%;
	
}
	#main {
  		    text-align:center;
	}
		#photo {
			display: inline-block;
			border-width: 2px;
			border-color: white;
			border-style: solid;
			width: 400px;
			height: 250px;
			margin: 10px 5px 0px 10px;
		}
		#about {
			display: inline-block;
			width: 500px;
			background-color: gray;
			height: 250px;
			margin: 10px 10px 10px 5px;
		}